@charset "utf-8";

@font-face {
	font-family:'NanumBarunGothic'; font-style:normal; font-weight:400;
	src:url(http://img.cgv.co.kr/event/develop/fonts/NanumBarunGothic.eot); /* IE 4-8 */
	src:local('NanumBarunGothic'),
		url(http://img.cgv.co.kr/r2014/fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'), /* IE 9 */
		url(http://img.cgv.co.kr/r2014/fonts/NanumBarunGothic.woff) format('woff'); /* IE 9, Firefox 3.6+, Chrome 6+ */
}
@font-face {
	font-family:'NanumBarunGothicBold'; font-style:normal; font-weight:700;
	src:url(http://img.cgv.co.kr/r2014/fonts/NanumBarunGothicBold.eot);
	src:local('NanumBarunGothicBold'),
		url(http://img.cgv.co.kr/r2014/fonts/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
		url(http://img.cgv.co.kr/r2014/fonts/NanumBarunGothicBold.woff) format('woff');
}
/* ------------------------------------------------------------------------ RESET */
html,body                                                                   {margin:0;padding:0;border:0;}
body                                                                        {height:100%;font-size:12px;font-family:'Dotum','돋움','굴림',Sans-serif;}
div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldse,p                      {margin:0;padding:0;font-weight:normal;vertical-align:top;list-style:none;}
table                                                                       {border-collapse:collapse;border-spacing:0;}
select                                                                      {height:20px;padding:1px;font-size:11px;font-family:'Dotum','돋움','굴림';}
fieldset,dl,dd,dt,img                                                       {border:0;vertical-align:top;}
address,em                                                                  {font-style:normal;}
hr,legend,caption                                                           {display:none;}
button,label                                                                {cursor:pointer;}
.cf:before,.cf:after                                                        {content:'';/* 1 */display:table;/* 2 */}
.cf:after                                                                   {clear:both;}
.cf                                                                         {*zoom:1;}
.blind_txt                                                                  {font-size:0;line-height:0;text-indent:-99999px;}
.ir {border:0; background-color:transparent; color:transparent; font:0/0 a; text-shadow:none;}
button{overflow:visible; padding:0; border:none;}
button::-moz-focus-inner {border:0; padding:0;}
/* ------------------------------------------------------------------------ EVENT */
.evt_wrap {position:relative; width:700px; height:2811px; background:url('http://img.cgv.co.kr/event/develop/1705_ladys_beauty/bg_event.jpg') no-repeat 0 0; margin:0 auto;}
.evt_wrap.ir * {border:0; background-color:transparent; color:transparent; font:0/0 a; text-shadow:none;}
.evt_wrap .btn_buy {position:absolute; left:183px; top:2315px; width:334px; height:70px;}